@model  LoginPageSample.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Create an Account</h1>

    @using (Html.BeginForm("Signup", "Login", FormMethod.Post))
    {
        <div>
            <label for="username">Username:</label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div>
            <label for="password">Password:</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            <label for="email">Email:</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <button type="submit">Signup</button>
    }
</body>
</html>
